@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=East+Sea+Dokdo&display=swap');
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "East Sea Dokdo", cursive;
    cursor: url(https://cur.cursors-4u.net/food/foo-5/foo436.cur), auto !important;
}

body{
    background: #fdf3e7;
    /* min-height: 200vh;可改，為了檢查捲動效果 */
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 24px 100px;
    z-index: 100;
    background-color: #b1a28f;
} 

header.sticky{
    padding: 5px 100px;
    background-color: rgb(64, 85, 64);
}

header .logo{
    position: relative;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.6s;
    text-shadow: rgb(3, 3, 3) 4px 3px 0px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin:0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 2em;
    font-weight: 500px;
    transition: 0.6s;
    text-shadow: rgb(3, 3, 3) 4px 3px 0px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/veghome.jpeg);
    background-size: cover;
    opacity: 0.65;
}

.banner >span{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50vh;
    font-size: 3rem;
    letter-spacing: 3px;
    color: rgb(255,255,255);
    text-shadow: rgb(0, 0, 0) 4px 3px 0px;
}

header.sticky .logo,
header.sticky ul li a{
    color: rgb(254, 249, 195);
}

/*footer*/
.footer-all{
    height: 210px;
    background-color: rgb(64, 85, 64);
}
.footer-left{
    float: left;
    font-size: 36px;
    padding-top: 45px;
    letter-spacing: 5px;
    width: 50%;
    text-align: center;
    color: rgb(254, 249, 195);
    text-shadow: rgb(3, 3, 3) 4px 3px 0px;
}
.footer-right{
    padding-top: 45px;
    text-align: center;
    letter-spacing: 5px;
    float: right;
    width: 50%;
    font-size: 36px;
    color: rgb(254, 249, 195);
    text-shadow: rgb(3, 3, 3) 4px 3px 0px;
}
.contacticon{
    width: 70px;
    height: 70px;
}
.icon:visited{
    color: rgb(64, 85, 64);
}
/*backtotop*/
.toTop-arrow {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: rgb(64, 85, 64);
    position: absolute;
    content: "";
}
.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
}
.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}